*.sw*
*~
build/
build2
compile/
compile2
node_modules/
vendor/
temp/
.idea/workspace.xml
.idea/watcherTasks.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/OrderCloud_Seed_AngularJS_Gulp_node_modules.xml
.idea/jsLibraryMappings.xml
.idea/codeStyleSettings.xml
.idea/OrderCloud-Seed-AngularJS-Gulp.iml
.idea/.name
