<div class="container product-list">
    <h1 class="page-header">Manage Products</h1>
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{active: productList.categoryID == 'softwareProducts'}"><a href="" ng-click="productList.activeCategory('softwareProducts')">Software Products</a></li>
        <li role="presentation" ng-class="{active: productList.categoryID == 'softwareSubscriptions'}"><a href="" ng-click="productList.activeCategory('softwareSubscriptions')">Software Subscriptions</a></li>
        <li role="presentation" ng-class="{active: productList.categoryID == 'contentSubscriptions'}"><a href="" ng-click="productList.activeCategory('contentSubscriptions')">Content Subscriptions</a></li>
        <li role="presentation" ng-class="{active: productList.categoryID == 'serviceSubscriptions'}"><a href="" ng-click="productList.activeCategory('serviceSubscriptions')">Service Subscriptions</a></li>
    </ul>
    <button class="btn btn-block btn-info" ng-init="productList.showAdd = false" ng-click="productList.showAdd = !productList.showAdd">Add Product</button>
    <div class="well" ng-show="productList.showAdd">
        <form ng-submit="productList.addProduct(product)">
            <div class="form-group">
                <label>Product Name</label>
                <input type="text" class="form-control" placeholder="Product Name" ng-model="product.Name" />
            </div>
            <div class="form-group">
                <label>Product Description</label>
                <input type="text" class="form-control" placeholder="Product Description" ng-model="product.Description" />
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activeSet" value="true" ng-model="product.Active" />
                    Active
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activeSet" value="false" ng-model="product.Active" />
                    Inactive
                </label>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Create New Product</button>
            </div>
        </form>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="product in productList.Products">
            <div class="media">
                <div class="media-left">
                    <a href="">
                        <img class="media-object" src="assets/sys.jpg">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{product.Name}}</h4>
                    <p>{{product.Description}}</p>
                    <span>Type: {{product.Type}}</span>
                    <span>ID: {{product.ID}}</span>
                    <span>Active: {{product.Active}}</span>
                </div>
                <div class="media-right">
                    <button ng-init="product.showForm = false" class="btn btn-default" ng-click="product.showForm = !product.showForm">Modify</button>
                    <button class="btn btn-danger" ng-click="productList.deleteProduct(product.ID)">Delete</button>
                </div>
            </div>
            <div class="well" ng-show="product.showForm" ng-submit="productList.modifyProduct(product, productMod)">
                <h3>Enter Changes Where Necessary</h3>
                <form>
                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" class="form-control" placeholder="Product Name" ng-model="productMod.Name" />
                    </div>
                    <div class="form-group">
                        <label>Product Description</label>
                        <input type="text" class="form-control" placeholder="Product Description" ng-model="productMod.Description" />
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="activeSet" value="true" ng-model="productMod.Active" />
                            Active
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="activeSet" value="false" ng-model="productMod.Active" />
                            Inactive
                        </label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Change Product</button>
                    </div>



                </form>
            </div>
        </li>
    </ul>
</div>
